IMPORTING LIBRARIES AND DATASET

In [16]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from nltk.corpus import stopwords

In [18]:
import nltk

stopwords=stopwords.words("english")

In [2]:
df= pd.read_csv("news.csv")

In [3]:
df.head()

,title,content,published_at,source,topic
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea...",2022-07-30T07:00:00Z,2,13
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...,2022-12-22T15:57:55Z,2,13
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou...",2022-08-16T07:00:00Z,1,7
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...,2022-12-18T13:08:40Z,1,7
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...,2022-11-21T08:00:00Z,1,8

In [4]:
df["content"]=df["title"]+df["content"]

In [5]:
df.isnull().sum()

title           0
content         4
published_at    0
source          0
topic           0
dtype: int64

In [6]:
df.shape

(810, 5)

In [8]:
df=df.dropna()

In [9]:
df.shape

(806, 5)

In [11]:
df.drop(columns=["title", "published_at", "source", "topic"], inplace=True)

In [15]:
df.head()

                                             content
0  BTS: RM is reminded of Bon Voyage as he travel...
1  RM recalls wondering if he 'made right decisio...
2  BTS: J-Hope and RM go bonkers at Billie Eilish...
3  BTS: J-Hope proudly states he raised Jungkook,...
4  BTS: Jin aka Kim Seokjin takes us through the ...

In [19]:
x=df.iloc[:,0].values

In [21]:
x[0]

'BTS: RM is reminded of Bon Voyage as he travels in Switzerland, gives glimpse of Chris Martin\'s chair to fans. WatchAfter reaching his hotel in the city, RM revealed that his stay would be for four days and added that he would step out for dinner. As he sat at a roadside open-air restaurant, RM feasted on beer, burgers and fries. He said, "I\'m starving right now. I\'m out to grab some food. It\'s much quieter than I expected and feels like a rural town. I like the familiar atmosphere." RM attended Art Basel and explained on camera the details of the art fair. He also gave a glimpse as he had noodles and beer which was followed by soup noodles and wrap. Showing the pattern of a ping pong table, RM said, "The table looks like our (BTS) symbol." He also spoke about the art pieces as he viewed them. After that, RM took a tram to visit the Foundation Beyeler, a museum. He later took a walk through the city. On his third day, RM visited the Kunstmuseum Basel, the Vitra Design Museum and the gallery. As he walked around, RM showed a chair to his fans and said, "I have breaking news for you guys. Coldplay\'s Chris Martin made a chair and it\'s displayed in the Vitra Design Museum. If you see this Chris, give me a call. You\'re amazing." RM next visited Lucerne and hiked to Mount Rigi. Recalling his previous visit to Lucerne, RM added, "I remember the day of crossing that bridge and buying souvenirs." He was also reminded of Bon Voyage, a reality show featuring BTS members RM, Jin, Suga, J-Hope, Jimin, V and Jungkook. Speaking to the camera, RM said, "I rode the SSB train to Lucerne, rode a boat, rode the mountain train, walked down the track road, rode the cable cars, and now I\'m on a boat planning to go ride the SSB again." RM\'s travel in Switzerland ended with a visit to the Museum Tinguely. Next, RM flew to Paris to attend the Pinault Collection and to visit Musee d\'Orsay. He then went to Centre Georges-Pompidou and Orsay Museum. RM\'s vlog ended with him enjoying a Korean meal and then heading back to Seoul.'